In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
%matplotlib inline

1. Make an API request that returns the months where "fire" was searched in 2016. Which month had the most searches?

In [2]:
endpoint ='https://data.nashville.gov/resource/fuaa-r5cm.json?year=2016'

params = {
    
    'query_text': 'fire'    
}

response = requests.get(endpoint, params = params)

In [3]:
response

In [4]:
fire_2016=pd.DataFrame(response.json())
fire_2016

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

In [5]:
fire_2016.sort_values('query_count', ascending = False)

   month_name  year query_count query_text
7      August  2016          47       fire
9     October  2016          38       fire
11   December  2016          38       fire
8   September  2016          36       fire
1    February  2016          35       fire
2       March  2016          32       fire
10   November  2016          32       fire
5        June  2016          31       fire
3       April  2016          26       fire
4         May  2016          24       fire
6        July  2016          24       fire
0     January  2016          19       fire

2. Make an API request that returns all the times a query was run more than 100 times in a month. How many times did this occur?

In [6]:
endpoint1 ='https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count>=100&$limit=500000'


response1 = requests.get(endpoint1)

In [7]:
response1

In [8]:
query_count = pd.DataFrame(response1.json())
len(query_count)

1287

3. Make another API request that returns all the times"codes" was searched more than 100 times in a month. How many times did this occur?

In [9]:
endpoint2 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$where=query_count>100'
params = {
    
    'query_text' : 'codes'
}
    
        

response2 = requests.get(endpoint2, params = params)

In [10]:
codes_100 = pd.DataFrame(response2.json())
len(codes_100)

56

In [14]:
endpoint3 = 'https://data.nashville.gov/resource/fuaa-r5cm.json?$limit=500000'
params = {
    
    'query_text' : 'maps'
}
    
        

response3 = requests.get(endpoint3, params = params)

In [15]:
maps = pd.DataFrame(response3.json())
maps

   month_name  year query_count query_text month
0     January  2014          97       maps   NaN
1    February  2014         140       maps   NaN
2       March  2014         144       maps   NaN
3       April  2014         152       maps   NaN
4         May  2014         119       maps   NaN
..        ...   ...         ...        ...   ...
77   November  2020          86       maps    11
78   December  2020         113       maps    12
79      March  2021         132       maps     3
80      April  2021         148       maps     4
81       June  2021         151       maps     6

[82 rows x 5 columns]

In [20]:
import seaborn as sns

In [21]:
sns.barplot(x='year', y='query_count', data= maps)

TypeError: Neither the `x` nor `y` variable appears to be numeric.